// variables


// Logo colours
$purple: rgb(63, 0, 56);
$yellow: rgb(255, 236, 0);

$pink: rgb(194, 29, 125);
//$yellow: rgb(241, 208, 19);
$orange: rgb(240, 160, 11);
//$purple: rgb(113, 81, 139);
$darkpurple: darken($purple, 5%);
$footer-height: 100px;
$page-font: 'Urbanist', sans-serif;


html {
    padding: 0;
    body {
        margin: 0;
        padding-bottom: $footer-height;
        position: relative;
        min-height: 100vh;
        background-image: url('../images/concrete-wall-g624dcf081_1920.jpg');
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: $darkpurple;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-size: 18px;
        filter: drop-shadow(3px 8px 10px rgba(50, 50, 0, 0.5)); // makes things indside (also clip paths) have this shadow
        .container-fluid {
            margin-bottom: 50px;
        }
    }
    main {
        padding-top: 32vw;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        @media only screen and (max-width: 662px) {
            padding-top: 60vw;
        }

    }
}

.flowers {
    width: 63%;
    position: fixed;
    z-index: 2;

    @media only screen and (max-width: 662px) {
        width: 70%;
        min-width: 300px;
        position: fixed;
        z-index: 2;

    }

}


.head {

    //background: url('../images/insta/sofiebwstjerne.jpeg') rgba(255, 255, 255, 1.0);
    //background-blend-mode: lighten;
    //background-size: cover;
    //background-position: center;
    position: relative;
    height: 48vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 662px) {
        height: 70vw;
        height: 180vw; // mobile layout

    }

    .lefthead {
        //clip-path: polygon(0% 0, 95% 0, 61% 100%, 0% 100%);
        clip-path: polygon(0% 0, 100% 0, 79% 100%, 0% 100%);
        position: absolute;
        width: 64%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        @media only screen and (max-width: 662px) {
            width: 100%;
            height: 60%;
            left: 0;
            top: 0;
            clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 80%);
        }
        .bg-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            background-size: 100%;
            background-image: url(../images/blacklace.jpg);
            filter: brightness(0.1) saturate(0.3);
        }
        //background-color: rgba(9, 7, 19, 0.96);
        img {
            // LOGO
            width: 37%;
            margin-left: 27%;
            margin-top: 29%;
            filter: drop-shadow(0px 0px 2px rgba(255, 236, 0, 0.6));
            transform: rotate(-10deg);
            @media only screen and (max-width: 662px) {
                width: 53%;
                margin-left: 23%;
                margin-top: 32%;
                transform: rotate(-7deg);
            }
        }

    }
    .righthead {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 49%;
        margin-right: 0;
        overflow: hidden;
        @media only screen and (max-width: 662px) {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }

        .sofie {
            width: 100%;
            position: absolute;
            //transform: translate(50%,-50%);
            top: 0%;
            right: 0%;
            @media only screen and (max-width: 662px) {
                width: 100%;
                top: 43%;
                left: 0;

            }

        }

        .title-content {
            margin: auto;
            width: 100%;
        }
        .zirkus {
            color: $pink;
            font-family: -webkit-pictograph;
            font-size: 69px;
            font-weight: 900;
            line-height: 21px;

        }
        .revsbech {
            color: $yellow;
            font-size: 40px;
            font-family: cursive;
            
        }
        @media only screen and (max-width: 662px) {
            .zirkus {
                font-size: 12vw;
            }
            .revsbech {
                font-size: 7vw;
            }
    
        }
        hr {
            margin-top: 0;
        }
        .slogan {
            color: $pink;
            font-weight: 600;
        }
        div {
            text-align: right;
        }
    }
}

a {
    color: $purple;
}
.container-fluid .row .editable {

    .WordSection1 {
        color: $darkpurple !important;
        font-family: $page-font !important;
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            color: $darkpurple !important;
            font-family: $page-font !important;
        }
    }
    h1, h2, h3 {

        color: $darkpurple !important;
        font-family: $page-font !important;
        font-weight: 900;

    }
}

.purple, .purple {
    width: 100%;
    background-color: #ffd739;
    //background-image: url(../images/flowerlace.JPG);
    //background-blend-mode: soft-light;
    //background-size: cover;
    color:  #eb5ea0d0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .social-icons, .social-icons {
        justify-content: center;
        @media only screen and (max-width: 662px) {
            //margin-top: 10%;
            //transform: rotate(12deg)
        }
        .iconwrapper {
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:  #eb5ea0d0;
            &:hover {
                color: #e64482d0;
            }
        }
    }
    .icon-title {
        font-size: 12px;
    }
    .fab, .fas {
        font-size: 2.6em;
        text-shadow: #ffc600 2px 1px 0px;
    }
    &.subheader {
        overflow: hidden;
        padding: 69px 0;
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 78%);
        height: 210px;
        position: absolute;
        top: 45vw;
        z-index: 2;
        @media only screen and (max-width: 662px) {
        //clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 78%);

        clip-path: polygon(0% 0%, 100% 19%, 100% 81%, 0% 100%);
        height: 279px;
        top: 155vw;
        }
    }

}

.row {
    padding: 0 30px;
    .col {
        padding: 0;
        //margin-bottom: 30px;
    }
}

.cards {
    .card {
        margin: auto;
        max-width: 100%;
        height: 100%;
        object-fit: cover;

        .card-body {
            
            .card-title {
                margin-bottom: 1rem;
                font-weight: 600;
            }
        }
    }
    .col {
        margin-bottom: 15px;
    }
    .row {
        min-height: 350px;
        @media only screen and (max-width: 662px) {
            margin-top: 100px;
        }
    }
}
.myrow {
    background-color: white;
    padding: 30px !important;
    //padding: 30px !important;
}

.post {
    img {
        max-width: 300px;
    }
}


footer {

    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
  }