{% load static %}
<!DOCTYPE html>
 <html lang="en">
 <head>
    <!-- Required meta tags -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Own meta tags -->
     <link rel="stylesheet" href="{% static 'main/styles.css' %}">

     <title>Zirkus Testbech</title>
 </head>
 <body>
    <h1>Zirkus nyheder</h1>
    {% for post in posts %}
    <h3>{{ post.title }} - {{ post.date }}</h3>
    <p>{{ post.content }}</p>
    {% endfor %}
 </body>
 </html>