{% load static %}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Zirkus Revsbech Dev</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/603271f4a3.js" crossorigin="anonymous"></script>
    <script src="{% static 'main/scripts/include.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/styles/styles.css' %}">
</head>
<body>
    <img class="flowers" src="{% static 'main/images/Solsikkehjorne.png' %}" alt="Overlay flower pic">
    <div class="head">
        <div class="lefthead">
            <div class="bg-wrapper"></div>
            <div class="title-content">
                <img class="logo" src="{% static 'main/images/Logo_ZR_cropped.svg' %}" alt="Overlay flower pic">
            </div>
        </div>
        <div class="righthead">
            <div class="title-content">
                <img class="sofie" src="{% static 'main/images/solfie farvemod.jpg' %}" alt="Overlay flower pic">
            </div>
        </div>



    </div>
    <div class="purple container-fluid subheader shadow">
        <div class="row social-icons">
            <div class="col-2 col-sm-1 p-0">
                <i class="fas fa-phone-square"></i>
                <p class="icon-title">
                    Telefon
                </p>
            </div>
            <div class="col-2 col-sm-1 p-0">
                <i class="fab fa-instagram-square"></i>
                <p class="icon-title">
                    Insta
                </p>
            </div>
            <div class="col-2 col-sm-1 p-0">
                <i class="fab fa-facebook-square"></i>
                <p class="icon-title">
                    Facebook
                </p>
            </div>
            <div class="col-2 col-sm-1 p-0">
                <i class="fas fa-envelope-square"></i>
                <p class="icon-title">
                    E-mail
                </p>
            </div>
        </div>
    </div>

<main>
    <div class="container-fluid cards">
        <div class="row justify-content-between">
            
            <div class="editable col col-12 col-md-3">
                
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'main/images/insta/flagrebrud.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div w3-include-html="tekster/blok1.html"></div>
                    </div>
                </div>
            </div>
            <div class="editable col col-12 col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'main/images/insta/guldbabe.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div w3-include-html="tekster/blok2.html"></div>
                    </div>
                </div>
            </div>
            <div class="editable col col-12 col-md-3">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'main/images/insta/treboern.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div w3-include-html="tekster/blok3.html"></div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="editable col myrow shadow">
                        <div w3-include-html="tekster/nyheder.html"></div>
            </div>
            </div>
            </div>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="editable col myrow shadow">
                        <div w3-include-html="tekster/beskrivelse.html"></div>
            </div>
        </div>
    </div>
</main>
    
    <footer class="purple container-fluid shadow">
        <div class="row">
            <div class="col">
                <div w3-include-html="tekster/footer.html"></div>
            </div>
        </div>
    </footer>

    <script>
        includeHTML()
    </script>

    </body>
    </html>
