{% load static %}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zirkus Revsbech Dev</title>

    <!-- SEO -->
    <meta name="robots" content="noindex">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <!-- Fontawesome icons -->
    <script src="https://kit.fontawesome.com/603271f4a3.js" crossorigin="anonymous"></script>

    <!-- GSAP + Scrolltrigger for flower animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js" integrity="sha512-5efjkDjhldlK+BrHauVYJpbjKrtNemLZksZWxd6Wdxvm06dceqWGLLNjZywOkvW7BF032ktHRMUOarbK9d60bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- My own styles and scripts -->
    <script src="{% static 'main/scripts/include.js' %}"></script>
    <script src="{% static 'main/scripts/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/styles/styles.css' %}">


</head>
<body>
    <img class="flowers" src="{% static 'main/images/Solsikkehjorne.png' %}" alt="Overlay flower pic">
    <div class="head">
        <div class="lefthead">
            <div class="bg-wrapper"></div>
            <div class="title-content">
                <img class="logo" src="{% static 'main/images/Logo_ZR_cropped.svg' %}" alt="Overlay flower pic">
            </div>
        </div>
        <div class="righthead">
            <div class="title-content">
                <img class="sofie" src="{% static 'main/images/solfie farvemod.jpg' %}" alt="Overlay flower pic">
            </div>
        </div>
    </div>

    <div class="purple container-fluid subheader shadow">
        <div class="row social-icons">
            <div class="col-2 col-sm-1 p-0">
                <a class="iconwrapper" href="tel:{{ details.phone }}">
                    <i class="fas fa-phone-square"></i>
                    <p class="icon-title">
                        Telefon
                    </p>
                </a>
            </div>
            <div class="col-2 col-sm-1 p-0">
                <a class="iconwrapper" href="{{ details.insta }}">
                    <i class="fab fa-instagram-square"></i>
                    <p class="icon-title">
                        Insta
                    </p>
                </a>

                </div>
            <div class="col-2 col-sm-1 p-0">
                <a class="iconwrapper" href="{{ details.facebook }}">
                    <i class="fab fa-facebook-square"></i>
                    <p class="icon-title">
                        Facebook
                    </p>
                </a>
            </div>
            <div class="col-2 col-sm-1 p-0">
                <a class="iconwrapper" href="mailto:{{ details.email }}">
                    <i class="fas fa-envelope-square"></i>
                    <p class="icon-title">
                        E-mail
                    </p>
                </a>
            </div>
        </div>
    </div>

    <main>
        <div class="container-fluid cards">
            <div class="row justify-content-between">
                
                {% for card in cards %}
                <div class="editable col col-12 col-md-3">
                    <div class="card shadow" style="width: 18rem;">
                        <img src="{{ card.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">
                                {{ card.title | safe}}
                            </h5>
                            {{ card.body | safe}}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        
        {% for post in posts %}
        <div class="container-fluid post">
            <div class="row">
                <div class="editable col myrow shadow">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.body | safe}}</p>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
    
    <footer class="purple container-fluid shadow">
        <div class="row">
            <div class="col">
                <p>Zirkus Revsbech | {{ details.address }}</p>
            </div>
        </div>
    </footer>

        <script>
            includeHTML()
        </script>

    </body>
</html>
